.feedback-form {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 100;
    min-height: 450px;
}

.feedback-form-show {
    right: 0 !important;
}

.feedback_form_area {
    position: relative;
    display: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.feedback_form_area_inner {
    width: 310px;
    min-height: 450px;
    color: #fff;
    padding: 30px;
}

.feedback_form_area h3 {
    margin-top: 0;
}

.custom-inp {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    color: #fff;
    border: 1px #fff solid;
    background: transparent;
}

.custom-inp-txt {
    width: 100%;
    height: 100px;
    padding: 5px;
    color: #fff;
    border: 1px #fff solid;
    background: transparent;
}

.feedback-form-btn {
    position: absolute;
    left: -98px;
    color: #fff;
    transform: rotate(90deg);
    top: 45%;
    border-radius: 0;
}

@media only screen and (max-width: 320px) {
    .feedback_form_area_inner {
        width: 260px;
        min-height: 450px;
        color: #fff;
        padding: 15px;
    }
}

.mt-50 {
    margin-top: 50px;
}

.botao-flutua {
    background-color: #F1BA1A;
    color: #404041!important;
    width: 165px;
    padding: 0px;
}