.yellow-soma {
  background-color: #f1ba1a !important;
}

.text-yellow-soma {
  color: #f1ba1a !important;
}


#particles {
  position: fixed !important;
  z-index: -500;
  width: 100%;
}

span {
  color: #6D6E70 !important
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #757575;
}

::-webkit-scrollbar-thumb {
  background: #f1ba1a;
  border-radius: 10px;
}

.progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  background: #f1ba1a;
  border-radius: 60px;
  transform-origin: 0%;
  z-index: 9999;
}